# Data
data/*
!data/processed/
data/processed/train_merged.parquet

# Logs
logs/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.idea/

# OS
.DS_Store

# Evidently
*.html

# Docs internes (non demandés)
docs/PLAN.md
docs/ARCHITECTURE.md
docs/CONSIGNES.md
